@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 


// .nav-menu li a {
//   @apply text-black text-base font-medium capitalize;
//   font-family: Epilogue;
// }
